img{
    height: 45px;
    width: 70px;
}
.Titlebar{
    background-color: #0c6474;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.abc{
    background-color: #0c6474;
    display: flex;
}
#setting{
    position: relative;
    right:15px;
    background-color: #0c6474;
    border: none;
}
.navbar{
    width:100vw;
    background-color: #0c6474;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav{
    background-color: #0c6474;
    border:none;
    color:#f8d4ce;
}

  
